<header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <%= link_to "BIBLE Jeopardy!", root_path, class: "navbar-brand" %>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <!--<%= nav_link "Play", '#' %>-->
                    <%= nav_link "Practice", '/practice', false %>
                    <!--<%= nav_link "About", "/about" %>-->
                    <% if user_signed_in? %>
                        <%= nav_link 'Logout', destroy_user_session_path, false, 'log-out' %> 
                    <% else %>
                        <%= nav_link 'Sign In', new_user_session_path, false, "sign-up" %>
                    <% end %>
                </ul>
        </div>
    </div>
</header>