<div class="row-fluid">
<h1 class="span4"><%= @board.name %></h1>
<div class="span4 offset4 board-direction">
<%= link_to 'Previous Board', board_path(@board.previous), class: "btn" %>
<%= link_to 'Next Board', board_path(@board.next), class: 'btn' %>
</div>
</div>
<div class="board">
<% @board.categories.uniq.each do |category| %>
<div class="category-column">
    <div class="category jbg">
        <h2><%=category.name %></h2>
    </div>
    <% cat_clues = category.clues.order("difficulty").select{|c| c.boards.include?(@board)}.uniq %>
    <% cat_clues.each do |clue| %>
    <%= render "boards/clue", clue: Clue.find(clue.id) %>
    <% end %>
</div>
<% end %>
</div>
